#NOTE - THIS IS ENV DECLARATION

INPUT_FILE_PATH=PATH_TO_GET_FILES
OUTPUT_FILE_PATH=PATH_WHERE_YOU_GOING_PLACE_FILE


#REVIEW - python -m unittest discover app/tests - TEST PROPOURSE
#REVIEW - Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope Process - Temporarily change the execution policy for the current PowerShell session